<!-- <h2>{{boardLink}}</h2> -->


<!-- <ul> -->
  <div *ngFor="let item of threads; let i = index" class="list-group">
    <div class="jumbotron list-group-item active" >
      <h3>{{item['created']}}</h3>
      <p>{{item['body']}}</p>
      <div class="row">
        <div *ngFor="let image of item['images']">
          <div class="col-xs-6 col-md-3">
            <a href="{{image['image']}}" class="thumbnail">
              <img src="{{image['thumbnail']}}" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="list-group">
        <div  class="jumbotron list-group-item" *ngIf="item['nposts']>3" style="background-color: #006666;">
          <p style="color: black;"> {{item['nposts'] - 3}} posts hidden..</p>
        </div>
        <div *ngFor="let post of item['recent_posts']; let j = index" >
          <div class="jumbotron list-group-item" style="background-color: #009999;">
            <h3 style="color: black;">{{post['created']}}</h3>
            <p style="color: black;">{{post['body']}}</p>
            <div class="row">
              <div *ngFor="let image of post['images']">
                <div class="col-xs-6 col-md-3">
                  <a href="{{image['image']}}" class="thumbnail">
                    <img src="{{image['thumbnail']}}" alt="...">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p><a class="btn btn-primary btn-lg" role="button" style="background-color: #006666;" (click)="postSelected(i)">
        Open
      </a></p>
    </div>

  </div>
<!-- </ul> -->

<div class='container text-center'>
<hr/>
  <button (click)="left()"><</button>
  page {{pageNumber}} of {{pageCount}}
  <button (click)="right()">></button>
</div>
