<div class='container text-center'>

<hr/>

  <div class="media">
    <div class="media-left">
      <img class="media-object" src="/static/ang/assets/images/Awesome.png" alt="awesome" width="256">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Wellcome to REST API board!</h4>
      This site was created for educational puгposes. More stuff soon (c).
    </div>
  </div>

  <hr/>

  <hr/>

  <h4>recent pictures</h4>

  <carousel >
    <slide *ngFor='let item of pictures; let i = index'>
      <a href="#" (click)="pictureClicked(i)">
      <img src="{{item['image']}}" alt="{{item['links']['thread']}}">
      </a>
    </slide>
  </carousel>

</div>
