  <ul class="nav nav-pills nav-stacked">
    <div *ngFor='let item of results; let i = index'>
      <li role="presentation"><button type="button" class="btn btn-primary" (click)="selection(i)">
        /{{item['name']}}/ - {{item['description']}}
      </button></li>
    </div>
  </ul>
