<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://188.225.36.114">Django REST Imageboard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://bitbucket.org/valentin_k/">my bitbucket</a></li>
        <li><a href="https://tomsk.hh.ru/resume/dd17e543ff033667920039ed1f333949625976">my hh</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://188.225.36.114/api/">API root</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style='min-height: 800px;'>
  <div class="row">

    <div class="col-md-2">
      <h2>
        <app-board-list
          [init]="myCount"
          (link)="boardSelected($event)">
            b-list is loading..
        </app-board-list>
      </h2>
    </div>

    <div class="col-md-8">
      <div *ngIf="pageState == 'main'">
        <app-main-page>
          main page is loading..
        </app-main-page>
      </div>
      <div *ngIf="pageState == 'board'">
        <app-board-browser [boardLink]="boardLink" (postLink)="postSelected($event)">
          browser is loading..
        </app-board-browser>
      </div>
      <div *ngIf="pageState == 'thread'">
        <app-thread-view [threadLink]="threadLink">
          thread is loading..
        </app-thread-view>
      </div>
    </div>

  </div>

</div>


<footer class='container text-center'>
<hr/>
  &copy; Valentin K
</footer>
