<div  class="list-group">
  <div class="jumbotron list-group-item active" >
    <h3>{{thread['created']}}</h3>
    <p>{{thread['body']}}</p>
    <div class="row">
      <div *ngFor="let image of thread['images']">
        <div class="col-xs-6 col-md-3">
          <a href="{{image['image']}}" class="thumbnail">
            <img src="{{image['thumbnail']}}" alt="...">
          </a>
        </div>
      </div>
    </div>

    <div class="list-group">
      <div *ngFor="let post of thread['posts']; let j = index" >
        <div class="jumbotron list-group-item" style="background-color: #009999;">
          <h3 style="color: black;">{{post['created']}}</h3>
          <p style="color: black;">{{post['body']}}</p>
          <div class="row">
            <div *ngFor="let image of post['images']">
              <div class="col-xs-6 col-md-3">
                <a href="{{image['image']}}" class="thumbnail">
                  <img src="{{image['thumbnail']}}" alt="...">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
