{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>API board interface</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- index.html -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <app-root></app-root>

<script type="text/javascript" src=" {% static 'ang/inline.bundle.js' %}"></script>
<script type="text/javascript" src=" {% static 'ang/polyfills.bundle.js' %}"></script>
<script type="text/javascript" src=" {% static 'ang/styles.bundle.js' %}"></script>
<script type="text/javascript" src=" {% static 'ang/vendor.bundle.js' %}"></script>
<script type="text/javascript" src=" {% static 'ang/main.bundle.js' %}"></script>

</body>
</html>
